{% extends "store/base.html" %}

{% load static %}

{% block title %}Tee's Naturals - Products{% endblock %}

{% block meta_description %}Shop Tee's Naturals natural hair care products for hair loss, split ends, and growth.{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <br>

    <div class="container form-layout-wide ">

        <center><h4> About me and my products </h4></center>
        <hr>
        <br>
        <img src="{% static 'media/images/Tracy real2.jpg' %}" alt="Hair care image" class="right-image">

        <strong><h4>Welcome to tee’s nature oil, where we celebrate the beauty of natural hair through the power of nature.</h4></strong>
    <p style="font-size: 18px;">our journey began with a simple vision: to offer hair care solutions that nurture and enhance your hair's natural health and beauty without the harsh chemicals found in many conventional products. Whether you are struggling with hair loss or thinning, split ends, damaged hair.</p>
    
            <br>
            <strong><h4>Trust our products to help repair and grow your hair.</h4></strong>
    <p style="font-size: 18px;">We believe that what you put on your hair should be as pure as the earth itself. Our products are crafted with this in mind, combining traditional wisdom with modern science. We focus on ingredients that are not only effective but also sustainable, ensuring that our footprint on the planet is as light as the touch of our products on your hair.</p>
    





</div>

    <br>

    


    <br>

{% endblock %}