{% extends "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <br>

    <div class="container form-layout">
        <h4> Contact us </h4>
        <hr>

        <p>We’re here to help you embrace the natural lifestyle you love! Whether you have questions about our eco-friendly products, need assistance with your order, or have feedback to share, we’re eager to connect. Your voice matters to us, and we’re committed to providing personalized support to make your experience with Tees Naturals as natural and delightful as our products. Reach out—we can’t wait to hear from you!

        </p>
        <p>Email: teesnaturals.online@gmail.com</p>
        
    </div>

    <br>

    


    <br>

{% endblock %}