
{% extends "./base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">
            
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{product.image.url}}"> <!-- Product image -->
            
            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{ product.title }} </h1>

                <strong> {{product.brand }} </strong>


                <hr>

                <br>


                <p> {{ product.description }} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">
 
                            <div class="col-6"> Price </div>

                            <div class="col-6 text-end"><span class="h4 fw-bold">£ {{ product.price }}</span></div>

                        </div>

                    </div>

                    <div class="col">
              
                        <div class="row p-3">
              
                            <div class="col-6">
              
                               
                                <label for="select">Qty</label>
                                
                                &nbsp; 
                               
                                <select id="select">
              
                                    <option value="1">1</option>
              
                                    <option value="2">2</option>
              
                                    <option value="3">3</option>
              
                                    <option value="4">4</option>
              
                                </select>

                            </div>

                            <div class="col-6 text-end">
                                
                                <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">
                        
                                Add to cart 
                            
                                </button> 
                            

                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>

</div>

<div class="modal fade" id="cartAddedModal" tabindex="-1" role="dialog" aria-labelledby="cartAddedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cartAddedModalLabel">Item Added to Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The item has been successfully added to your cart.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'cart-summary' %}" class="btn btn-primary">View Cart</a>
        </div>
      </div>
    </div>
</div>

<script>
    // Add button
    $(document).on('click', '#add-button', function(e){
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "cart-add" %}',
            data: {
                product_id: $('#add-button').val(),
                product_quantity: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function(json){
                document.getElementById("cart-qty").textContent = json.qty;
                $('#cartAddedModal').modal('show');
                
                // Set a timeout to hide the modal after 3 seconds
                setTimeout(function() {
                    $('#cartAddedModal').modal('hide');
                }, 3000); // 3000 milliseconds = 3 seconds
            },
            error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText); // Log error for debugging
            }
        });
    });
</script>

{% endblock %}