{% extends "./base.html" %}

{% load static %}

{% block content %}



<!-- Introduction section -->
<div class="centered-image">
    <img src="{% static 'media/images/Tracyart width.jpg' %}" alt="Description of Tracy's Art">
</div>


<div class="album py-5 px-5">

<div class="row justify-content-center h4">
   
    <center><h4> About me and my products </h4></center>
    

    </div>
</div>

<div class="container form-layout-wide ">

    
        <strong><h4>Welcome to tee’s nature oil, where we celebrate the beauty of natural hair through the power of nature.</h4></strong>
        <p>our journey began with a simple vision: to offer hair care solutions that nurture and enhance your hair's natural health and beauty without the harsh chemicals found in many conventional products. Whether you are struggling with hair loss or thinning, split ends,damaged hair. </p> 

        <br>

        <h5>Trust our products to help repair and grow your hair.</h1>
            
            <br>
        <p><strong>We believe that what you put on your hair should be as pure as the earth itself.</strong> 
            
            Our products are crafted with this in mind, combining traditional wisdom with modern science. We focus on ingredients that are not only effective but also sustainable, ensuring that our footprint on the planet is as light as the touch of our products on your hair.</p>






</div>

















<!-- All products section -->
<div class="album py-4 px-4" style="background-color: rgb(245, 240, 230);">   
    <div class="row justify-content-center pb-3 h5"> Hair Products </div>
    <hr>
    <br>

    <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in my_products %}
        <div class="col">
            
            <div class="card shadow-sm">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body">
                    <p class="card-text">
                        <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title | capfirst }}</a>
                        {% if not product.in_stock %}
                        <span class="text-danger ml-2">(Out of Stock)</span>
                        {% endif %}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5> £ {{ product.price }} </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}